@model QA.DemoSite.Models.Widgets.BannerItemWidget

<!-- Banner Item Start -->
<div class="banner-item bg--overlay" data-bg-img="@Model.BackgroundImage">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="vc-parent">
          <div class="vc-child">
            <!-- Banner Item Content Start -->
            <section class="banner-item-content">
              <h1>@Model.Header</h1>

              @Html.Raw(Model.Description)

              @if (Model.ShowButton)
              {
              <a href="@Model.DetailsButtonUrl" class="btn btn-lg btn-custom" data-animate-scroll="true" data-offset="90">@Model.DetailsButtonText</a>
              }
            </section>
            <!-- Banner Item Content End -->
          </div>
        </div>
      </div>

      @if (!String.IsNullOrWhiteSpace(Model.Image))
      {
        <div class="col-md-6 hidden-sm hidden-xs">
          <div class="vc-parent">
            <div class="vc-child">
              <!-- Banner Item Image Start -->
              <div class="banner-item-img">
                <img src="@Model.Image" alt="" class="img-responsive">
              </div>
              <!-- Banner Item Image End -->
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<!-- Banner Item End -->
