@model QA.DemoSite.ViewModels.MenuViewModel
<div id="menu">

  <nav id="secondaryMenu" class="navbar" data-sticky="true">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="~/img/quantum_logo.png" alt="" class="img-responsive" style="padding-top: 13px;">
        </a>
      </div>
      <button class="btn menu-toggle-btn">
        <i class="fa fa-navicon"></i> Меню
      </button>
      <div id="secondaryNavbar" class="navbar-right reset-padding hidden-sm hidden-xs">
        <ul class="secondary-menu-links nav navbar-nav">
          @foreach (var item in Model.Items)
          {
            <li @(item.IsActive ? "class=active" : string.Empty) @(item.HasActiveChild ? "class=opened" : string.Empty)>
              @if (!item.Children.Any())
              {
                <a href="@item.Href">@item.Title</a>
              }
              else
              {
                <a href="@item.Href" class="dropdown-toggle" data-toggle="dropdown">@item.Title <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  @foreach (var child in item.Children)
                  {
                    <li @(child.IsActive ? "class=active" : string.Empty)><a href="@child.Href">@child.Title</a></li>
                  }
                </ul>
              }
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>

  <div class="off-canvas-menu">
    <button type="button" class="off-canvas-menu--close-btn"><i class="fa fa-close"></i></button>

    <div class="off-canvas-menu-logo">
      <a href="index.html">
        <img src="~/img/quantum_logo.png" alt="" class="img-responsive center-block" />
      </a>
    </div>

    <ul class="nav nav-pills nav-stacked">
      @foreach (var item in Model.Items)
      {
        <li @(item.IsActive ? "class=active" : string.Empty) @(item.Children.Any(c => c.IsActive) ? "class=open" : string.Empty)>
          @if (!item.Children.Any())
          {
            <a href="@item.Href">@item.Title</a>
          }
          else
          {
            <a href="@item.Href" class="dropdown-toggle" data-toggle="dropdown">@item.Title <span class="caret"></span></a>
            <ul class="dropdown-menu">
              @foreach (var child in item.Children)
              {
                <li @(child.IsActive ? "class=active" : string.Empty)><a href="@child.Href"><i class="fa fa-fw fa-angle-right"></i>@child.Title</a></li>
              }
            </ul>
          }
        </li>
      }
    </ul>
    
  </div>

  <div class="off-canvas-menu-overlay"></div>
</div>
